/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family:Ubuntu ;
    padding-top: 0px;
    background:#EDEDED;
    color:#000;
}


.item4 {
    border: 2px solid;
    padding-left: 15px;
    margin-bottom: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: auto;
    padding: 0px 50px 0 50px !important;
    margin:0;
}
.container-title {
    font-weight: 500;
    font-size: 26px;
    border-bottom: 2px solid #BB0A30;

    width:140px;
}
.container-categories{
    display:flex;
    flex-direction:column;
    margin-top:20px;

}
    .container-categories a {
        margin: 5px;
        font-size: 18px;
        color: #888888;
    }
.navbar-nav {
    float: right;
}
.container {
    width: auto;
}
.content-main{
    display:flex;
    flex-direction:row;

}
    .content-main > .container-left {
        flex: auto;
        display: flex;
        flex: 80%;
        flex-direction: column;
    }
    .content-main > .container-right {
        background: #fff;
        flex: auto;
        padding:14px 30px;
    }


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background: #000000;
    padding:8px 50px 8px 50px;
    border-radius:0px;

    
}

.navbar-leftSide {
    display: flex;
    flex-direction: column;
}
.navbar-brand {
    font-size: 28px;
    font-family: Ubuntu;
    font-weight:500;
    padding:8px 0px 0px 0px;
    align-items:flex-start;
    color: #FFFFFF !important;
    margin:0 !important;
}

.navbar-brand-slogan {
    margin-top: -16px;
    /*text-align: center;*/
    margin-left:2px;
    color: #878787;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
